{% extends "bootstrap/base.html" %}
{% block title %}
Thank you!
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}"</link>
<link href="{{ url_for('static', filename='scripts/bootstrap.min.css') }}" rel="stylesheet">

<div class='centerV'>
<br>
<p>Thank you for participating in the RobotReviewer user-study!</p>
<br>
<img border="0" alt="RobotReviewer" height="100px" width="400px" src="static/img/logo_ux.png">
<br>
<p></p>
</div>
<!-- <p>current ID: {{ ux_uuid }}</p> -->

{% endblock %}
