{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}"</link>
<link href="{{ url_for('static', filename='scripts/bootstrap.min.css') }}" rel="stylesheet">


<div class="container">
    <main class="container signup-section">
      <div class='center'>
      <div class="section-content">
        <h3>Please answer the following questions:</h3>
		<br>
		<br>
        <form method="POST" action="{{url_for('form1', ux_uuid=ux_uuid)}}">
          {{ form.hidden_tag() }}

          <div class="form-group">

            {{ form.first_question.label }}
            <br>
            {% if form.first_question.errors %}
              {% for error in form.first_question.errors %}
                <p class="error-message" style="color:red">{{ error }}</p>
              {% endfor %}
            {% endif %}

            {{ form.first_question }}

          </div>

          <div class="form-group">
            {{ form.second_question.label }}

            {% if form.second_question.errors %}
              {% for error in form.second_question.errors %}
                <p class="error-message" style="color:red">{{ error }}</p>
              {% endfor %}
            {% endif %}

            {{ form.second_question }}
          </div>

          <div class="form-group">
            {{ form.third_question.label }}

            {% if form.third_question.errors %}
              {% for error in form.third_question.errors %}
                <p class="error-message" style="color:red">{{ error }}</p>
              {% endfor %}
            {% endif %}

            {{ form.third_question }}
          </div>
          <p>ID TEST:</p>
          <p class="ux_uuid" style="color:blue">{{ ux_uuid }}</p>
          {{ form.submit(class="btn-primary") }}
        </form>
      </div>
      </div>

    </main>
</div>

{% endblock %}
