{% extends "bootstrap/base.html" %}
{% block title %}
WELCOME
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}"</link>
<link href="{{ url_for('static', filename='scripts/bootstrap.min.css') }}" rel="stylesheet">

<div class="center">
<h2><b> Semi-Automating Data Extraction for Systematic Reviews </b></h2>
<h2> Informed consent form </h2>
<p></p>
<h3> Purpose of this study </h3>
<p> This is a study to assess the utility of semi-automated methods that aim to make the processes involved in evidence synthesis more efficient via novel software. </p>
<h3> What will be done </h3>
<p> You will complete the usual data extraction tasks - including risk of bias assessment and generation of the summary characterizing the Population, Intervention/Comparator and Outcome (PICO) described in the study – using newly developed software that includes an automated component that looks to identify relevant sections of the text. </p>
<p> After using this tool to complete extraction for either (a) a study of your choosing, e.g., a study you need to extract data from for an ongoing systematic review, or, (b) a provided study available in the system, you will fill out a questionnaire online that will take 20-30 minutes to complete. These questions address the usability and perceived utility of the aforementioned tool. </p>
<h3> Benefits of this study </h3>
<p> By taking part in this study you will help to test the performance of new technology that could streamline systematic review production in future. We aim to make all software available free and open-source to ensure it is able to be used widely. There may be no direct benefit from participants individually, other than the opportunity to try out new and potentially interesting methods for systematic review production. </p>
<h3> Risks or discomforts </h3>
<p> No risks or discomforts are anticipated from taking part in this study. Should you experience any, you are free to withdraw. </p>
<h3> Confidentiality </h3>
<p> We will not request any demographic or identifying information about you, nor will we store your computer’s IP address. </p>
<h3> How the findings will be used </h3>
<p> The results of the study will be used only for scholarly purposes. Results may be presented at conferences, and may be included in a published manuscript. No information about specific individuals will ever be included in such presentations. </p>
<h3> Contact information </h3>
<p> Please direct any concerns and / or questions to Dr. Byron Wallace (<a href="mailto:b.wallace@northeastern.edu">b.wallace@northeastern.edu</a>). </p>
<p> By beginning the survey, you acknowledge that you have read this information and agree to participate in this research, with the knowledge that you are free to withdraw your participation at any time without penalty. </p>
<p></p>
<a href="{{url_for('form1', ux_uuid=ux_uuid)}}" class="btn btn-default">Continue</a>
</div>
<div class="front">
</div>

{% endblock %}
