{% extends "bootstrap/base.html" %}
{% block title %}
WELCOME
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}"</link>


<div class="center">
<h2> Semi-Automating Data Extraction for Systematic Reviews </h2>
<h2> Informed consent form </h2>
<h3> Purpose of this study </h3>
<p> This is a study to assess the utility of semi-automated methods that aim to make the processes involved in evidence synthesis more efficient via novel software.  </p>


<p></p>
<a href="{{url_for('form1', ux_uuid=ux_uuid)}}" class="btn btn-default">Continue</a>
</div>

<div class="front">

</div>

{% endblock %}
