{% extends "bootstrap/base.html" %}
{% block title %}
Instruction Video
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}"</link>
<link href="{{ url_for('static', filename='scripts/bootstrap.min.css') }}" rel="stylesheet">
<div class='centerV'>
  <h3>Please watch the following video instructions</h3>
  <!-- <p>current ID: {{ ux_uuid }}</p> -->
  <iframe src="https://www.youtube.com/embed/0P0h-sDCyAw" width="853" height="480" frameborder="0" align="center" allowfullscreen></iframe>
  <br>
  <div class='buttn'>
  <a href="{{ doc_url }}" class="btn btn-default">Continue</a>
  <br>
  </div>
</div>
{% endblock %}
